<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="contract_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">合同录入</h3>
            </div>
            <div class="panel-body">
              <h4 class="page-header m-t">请填写合同真实信息，*表示必填项</h4>
              <form action="/admin/save_contract" method="post" id="contractForm" class="form-horizontal m-t" role="form" enctype="multipart/form-data">
                <input type="hidden" name="contract[id]" value="<%=contract._id%>">
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>甲方姓名</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="PartyAName" class="form-control" placeholder="请输入甲方姓名" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>乙方姓名</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="PartyAName" class="form-control" placeholder="请输入乙方姓名" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">丙方姓名</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="PartyAName" class="form-control" placeholder="请输入丙方姓名" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>签署时间</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="signDate" class="form-control laydate-icon" placeholder="签署时间与纸质合同保持一致" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>生效时间</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="effetiveDate" class="form-control laydate-icon" placeholder="生效时间" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>失效时间</label>
                  <div class="col-md-7">
                    <input type="text" name="contract[party_a_name]" id="expireDate" class="form-control laydate-icon" placeholder="失效时间" value="<%=contract.party_a_name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2"><i>*</i>选择模板</label>
                  <div class="col-md-7">
                    <select name="" id="" class="form-control">
                      <option value="1">模板1</option>
                      <option value="1">模板2</option>
                      <option value="1">模板3</option>
                      <option value="1">模板4</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">附件1</label>
                  <div class="col-md-3">
                    <input type="file" name="contract_file" id="contractFile">
                    <div id="templatePreview" class="preview-area clearfix none">
                      <a href="javascript:;" class="text-primary" title="合同模板预览"><i class="fa fa-file-word-o fa-5x"></i></a>
                      <a href="javascript:;" id="removeFileBtn" class="btn-remove">
                        <i class="fa fa-remove"></i>
                      </a>
                    </div>
                    <button type="button" id="templateUpload" class="btn btn-primary m-b">选择本地文件</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">附件2</label>
                  <div class="col-md-3">
                    <input type="file" name="contract_file" id="contractFile">
                    <div id="templatePreview" class="preview-area clearfix none">
                      <a href="javascript:;" class="text-primary" title="合同模板预览"><i class="fa fa-file-word-o fa-5x"></i></a>
                      <a href="javascript:;" id="removeFileBtn" class="btn-remove">
                        <i class="fa fa-remove"></i>
                      </a>
                    </div>
                    <button type="button" id="templateUpload" class="btn btn-primary m-b">选择本地文件</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">附件3</label>
                  <div class="col-md-3">
                    <input type="file" name="contract_file" id="contractFile">
                    <div id="templatePreview" class="preview-area clearfix none">
                      <a href="javascript:;" class="text-primary" title="合同模板预览"><i class="fa fa-file-word-o fa-5x"></i></a>
                      <a href="javascript:;" id="removeFileBtn" class="btn-remove">
                        <i class="fa fa-remove"></i>
                      </a>
                    </div>
                    <button type="button" id="templateUpload" class="btn btn-primary m-b">选择本地文件</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">附件4</label>
                  <div class="col-md-3">
                    <input type="file" name="contract_file" id="contractFile">
                    <div id="templatePreview" class="preview-area clearfix none">
                      <a href="javascript:;" class="text-primary" title="合同模板预览"><i class="fa fa-file-word-o fa-5x"></i></a>
                      <a href="javascript:;" id="removeFileBtn" class="btn-remove">
                        <i class="fa fa-remove"></i>
                      </a>
                    </div>
                    <button type="button" id="templateUpload" class="btn btn-primary m-b">选择本地文件</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="contractCont" class="control-label col-md-2">备注</label>
                  <div class="col-md-7">
                   <textarea name="contract[content]" id="contractCont" rows="5" class="form-control" placeholder="备注"><%=contract.content%></textarea>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" id="contractSubmit" class="btn btn-success">提交</button>
                  <button class="btn btn-default m-l" onClick="history.go(-1)">返回</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/plugins/laydate/laydate.js"></script>
    <script src="/js/contract.js"></script>
  </body>
</html>
