<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="contract_template_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span><i class="fa fa-file"></i>合同模板管理</span>
                <a href="/admin/new_contract_template" class="pull-right" data-toggle="modal"><i class="fa fa-plus-square m-r-5"></i>新增</a>
              </h3>
            </div>
            <div class="panel-body">
              <table id="templateDataTable" class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="">
                    <th>序号</th>
                    <th>模板名称</th>
                    <th>模板描述</th>
                    <th>创建者</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                 <%templates.forEach(function(template, index){%>
                 <tr>
                    <td><%= index + 1%></td>
                    <td><%= template.name%></td>
                    <td><%= template.note%></td>
                    <td><%= template.creator.name%></td>
                    <td><%= moment(template.meta.createAt).format('YYYY-MM-DD HH:mm:ss')%></td>
                    <td>
                      <a href="/admin/contract_template_download?name=<%= template.file%>" class="btn btn-success">下载</a>
                      <a href="/admin/edit_contract_template?id=<%= template._id%>" class="btn btn-warning">编辑</a>
                      <a href="/admin/remove_contract_template?id=<%= template._id%>" class="btn btn-danger btn-remove">删除</a>
                    </td>
                 </tr>
                 <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/contract.js"></script>
  </body>
</html>
