<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="contract_template_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">编辑合同模板
                <a href="javascript:history.go(-1)" class="pull-right">返回</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-info  ">
                <i class="fa fa-info-circle"></i>
                提示：模板文件暂只支持doc、docx、pdf格式
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">
                  &times;
                </a>
              </div>
              <form action="/admin/save_template" method="post" id="templateForm" class="form-horizontal m-t" role="form" enctype="multipart/form-data">
                <input type="hidden" name="template[id]" value="<%=template._id%>">
                <div class="form-group row">
                  <label class="control-label col-md-2">模板标题</label>
                  <div class="col-md-7">
                    <input type="text" name="template[name]" id="templateTitle" class="form-control" placeholder="请输入模板标题" value="<%=template.name%>"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">模板描述</label>
                  <div class="col-md-7">
                   <textarea name="template[note]" id="templateDesc" rows="5" class="form-control" placeholder="请输入模板描述(可选)"><%=template.note%></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2">模板上传</label>
                  <div class="col-md-7">
                    <input type="file" name="contract_file" id="contractFile">
                    <div class="input-group m-b">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary template-upload">选择文件</button>
                      </span>
                      <input type="text" name="template[file_name]" class="form-control file-name" disabled="true" placeholder="未选择任何文件" value="<%=template.file%>">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-offset-5">
                    <button type="submit" id="templateEditBtn" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-default m-l">重置</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/contract.js"></script>
  </body>
</html>
