<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="partner_examine">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span><%=title%></span>
              <a href="javascript:history.go(-1)" class="pull-right">返回</a>
            </h3>
          </div>
          <div class="panel-body">
            <div class="col-md-offset-1 col-md-10">
              <h2 class="page-header m-t"><%=partner.name%></h2>
              <div class="col-md-6">
                <dl class="dl-horizontal">
                  <dt>企业法人：</dt>
                  <dd><%= partner.corporation%></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>联系手机：</dt>
                  <dd>
                    <%if(partner.mobile){%><%= partner.mobile%>
                    <%}else{%>尚未设置<%}%>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>联系电话：</dt>
                  <dd>
                    <%if(partner.telephone){%><%= partner.telephone%>
                    <%}else{%>尚未设置<%}%>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>企业邮箱：</dt>
                  <dd>
                    <%if(partner.email){%><%= partner.email%>
                    <%}else{%>尚未设置<%}%>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>企业邮编：</dt>
                  <dd><%= partner.post%></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>企业地址：</dt>
                  <dd><%= partner.address%></dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="dl-horizontal">
                  <dt>企业联系人：</dt>
                  <dd><%= partner.contact_name%></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>营业执照号：</dt>
                  <dd><%= partner.license_id%></dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt class="">企业LOGO：</dt>
                  <dd>
                    <img src="/upload/logo/<%= partner.logo%>" class="img-rounded" width="150" height="150" title="企业LOGO" alt="企业LOGO">
                  </dd>
                </dl>
              </div>
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>企业简介：</dt>
                  <dd class="font-18">
                  <%if(partner.profile){%><%=partner.profile%><%=partner.profile%>
                  <%}else{%>尚未设置<%}%>
                  </dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt>营业执照：</dt>
                  <dd><img src="/upload/license/<%=partner.license%>" width="600" height="350" class="scale scale-sm" title="营业执照" alt="营业执照"></dd>
                </dl>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-10 m-t">
              <div class="btn-group m-b">
                <button id="through" class="btn btn-default btn-examine active">通过</button>
                <button id="reject" class="btn btn-default btn-examine">驳回</button>
              </div>
              <form action="/admin/partner_examine_reject" method="post" id="rejectPartnerForm" class="hidden">
                <input type="hidden" name="partner[id]" value="<%=partner._id%>">
                <div class="form-group">
                  <textarea name="partner[reject_info]" id="rejectInfo" class="form-control" rows="6" placeholder="请填写驳回原因，不少于10个字"></textarea>
                </div>
                <div class="form-group text-center">
                  <button type="submit" id="rejectPartBtn" class="btn btn-primary">确定</button>
                  <button class="btn btn-default m-l" onClick="history.go(-1)">返回</button>
                </div>
              </form>
              <form action="/admin/partner_examine_through" method="post" id="throughPartnerForm" class="form-horizontal">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <input type="hidden" name="partner[id]" value="<%=partner._id%>">
                    <label for="">请选择商家类型：</label>
                    <div class="form-group m-horizontal-0 m-b-0">
                      <%partTypes.forEach(function(partType){%>
                      <div class="radio m-l">
                        <label class="w-120">
                          <input type="radio" name="partner[type]" value="<%=partType._id%>"><%=partType.name%>
                        </label>
                        <p class="inline-block m-b-0">描述：<span class="text-info"><%=partType.note%></span></p>
                      </div>
                      <%})%>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" id="throughPartBtn" class="btn btn-primary">确定</button>
                  <button class="btn btn-default m-l" onClick="history.go(-1)">返回</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner_examine.js"></script>
  </body>
</html>
