<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="partner_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-secondary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-group"></i>
              <span><%= title%></span>
            </h3>
          </div>
          <div class="panel-body">
               <table id="partnerDataTable" class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>企业名称</th>
                    <th>企业法人</th>
                    <th>注册时间</th>
                    <th>企业信息</th>
                    <th>所属主管部门</th>
                    <th>合同</th>
                    <th>权限</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <%partners.forEach(function(partner, index){%>
                  <tr data-id="<%= partner._id%>">
                    <td><%= index+1%></td>
                    <td class="name max-w-150" title="<%= partner.name%>"><%= partner.name%></td>
                    <td><%= partner.corporation%></td>
                    <td><%= moment(partner.meta.createAt).format('YYYY-MM-DD') %></td>
                    <td>
                      <a href="/admin/show_partner_info?id=<%= partner._id%>" class="btn btn-link">查看</a>
                    </td>
                    <td>
                       <a href="#setOrgModal" class="btn btn-link btn-jurisdiction" data-toggle="modal"><%if(partner.managed_by_org){%><%= partner.managed_by_org.name%><%}else{%>设置<%}%></a>
                    </td>
                    <td><a href="/admin/set_partner_contract?id=<%=partner._id%>" class="btn btn-link">管理</a></td>
                    <td>
                       <a href="#setJurisdictionModal" class="btn btn-link btn-jurisdiction" data-toggle="modal">设置</a>
                    </td>
                    <td>
                      <%if(partner.status == 0){%>
                      <a href="javascript:;" class="btn-status" data-status="<%=partner.status%>" title="禁用状态">
                        <i class="fa fa-toggle-off fa-2x"></i>
                      </a>
                      <%}else{%>
                      <a href="javascript:;" class="btn-status" data-status="<%=partner.status%>" title="启用状态">
                        <i class="fa fa-toggle-on fa-2x"></i>
                      </a>
                      <%}%>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
          </div>
        </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setOrgModal" class="modal fade">
       <div class="modal-dialog">
          <div class="modal-content max-w-400">
            <form action="/partner/set_organize" method="post" id="setOrganizeForm" class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">所属部门设置</h4>
              </div>
              <div class="modal-body max-h-400">
                <ul id="organizeTree" class="ztree" data-partner="<%=user.partner._id%>"></ul>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="setOrgBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
   </div>
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setJurisdictionModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="form-horizontal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">权限设置</h4>
            </div>
            <div class="modal-body max-h-400">
              <div class="row">
                <div class="alert alert-info m-l m-r m-b">
                  <i class="fa fa-info-circle"></i>提示：点击权限名称显示对应的功能</div>
                <div class="col-md-6">
                  <ul id="roleList" class="list-group role-list">
                    <li class="list-group-item active">
                    权限列表
                    </li>
                    <% roles.forEach(function(role){%>
                    <li class="list-group-item" data-role="<%= role._id%>">
                      <a href="javascript:;" class="pull-right">
                        <i class="fa fa-square-o fa-lg"></i>
                        <i class="fa fa-check-square fa-lg"></i>
                      </a>
                      <a href="javascript:;" class="role"><%= role.name%></a>
                    </li>
                    <%})%>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul id="roleFunctionTree" class="ztree"></ul>
                </div>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="reset" data-dismiss="modal" class="btn btn-default">取消</button>
              <button id="setJurisdictionBtn" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
          </form>
        </div>
      </div>
   </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.ztree.all.min.js"></script>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/partner_manage.js"></script>
  </body>
</html>
