<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="partner_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
        <div class="panel panel-secondary">
          <div class="panel-heading">
              <h3 class="panel-title">
               <i class="fa fa-home fa-lg"></i><%=title%>
               <a href="javascript:history.go(-1)" class="pull-right">返回</a>
              </h3>
          </div>
          <div class="panel-body partner-info">
            <div class="col-md-10 col-md-offset-1 m-t">
              <dl class="dl-horizontal">
                <dt>企业名称：</dt>
                <dd><%= partner.name%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>法定代表人：</dt>
                <dd><%= partner.corporation%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>营业执照注册号：</dt>
                <dd><%= partner.license_id%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>联系人：</dt>
                <dd><%= partner.contact_name%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>地址：</dt>
                <dd><%= partner.address%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>邮编：</dt>
                <dd><%= partner.post%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>联系电话：</dt>
                <dd>
                  <%if(partner.telephone){%><%= partner.telephone%>
                  <%}else{%>尚未设置<%}%>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>联系手机：</dt>
                <dd>
                  <%if(partner.mobile){%><%= partner.mobile%>
                  <%}else{%>尚未设置<%}%>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>企业邮箱：</dt>
                <dd>
                  <%if(partner.email){%><%= partner.email%>
                  <%}else{%>尚未设置<%}%>
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>企业简介：</dt>
                <dd><%if(partner.profile){%><%= partner.profile%>
                  <%}else{%>尚未设置<%}%></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>企业LOGO：</dt>
                <dd><img src="/upload/logo/<%= partner.logo%>" width="150" height="150" title="企业LOGO" alt="企业LOGO"></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>营业执照：</dt>
                <dd><img src="/upload/license/<%= partner.license%>" width="600" height="350" title="营业执照" alt="营业执照"></dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
  </body>
</html>
