<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <style>
      .table th {
        min-width: 50px;
        text-align: center
      }
      .table > tbody > tr > td {
        vertical-align: middle;
        text-align: center
      }
    </style>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <h2 class="page-header">用户列表</h2>
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>用户名</th>
              <th>Email</th>
              <th>手机号</th>
              <th>QQ</th>
              <th>生日</th>
              <th>地址</th>
              <th>身份证号</th>
              <th>性别</th>
              <th>注册时间</th>
              <th>角色</th>
              <th>操作</th>
            </tr>
            <% users.forEach(function(user){ %>
              <tr data-id="<%= user._id%>">
                <td class="name"><%= user.name %></td>
                <td class="email"><%= user.email %></td>
                <td><%= user.mobile %></td>
                <td><%= user.qq %></td>
                <td><% if(user.birthday){%><%= moment(user.birthday).format('YYYY-MM-DD') %><%}%></td>
                <td><%= user.address %></td>
                <td><%= user.idcard %></td>
                <td><% if(user.gender == '0') {%> 男 <% }else{%> 女 <%}%></td>
                <!-- <%= moment(user.meta.createAt).format('YYYY-MM-DD HH:mm:ss') %> -->
                <td><%= moment(user.meta.createAt).format('YYYY-MM-DD HH:mm:ss') %></td>
                <td class="role"><%= user.role %></td>
                <td style="min-width: 115px">
                  <button class="btn btn-warning btn-sm btn-edit" data-toggle="modal" href="#myModal">编辑</button>
                  <button class="btn btn-danger btn-sm btn-del">删除</button>
                </td>
              </tr>
            <% })%>
          </table>
          <ul class="pagination">
            <li class="<%if(pageIndex == 1){%>disabled<%}%>"><a href="/user/list?page=<%= pageIndex*1-1 == 0 ? 1 : pageIndex*1-1 %>">&laquo;</a></li>
            <% for(var i = 1; i <= pageCount; i++){%>
              <li class="<%if(pageIndex == i){%>active<%}%>"><a href="/user/list?page=<%=i%>"><%=i%></a></li>
            <% }%>  
            <li class="<%if(pageIndex == pageCount){%>disabled<%}%>"><a href="/user/list?page=<%= pageIndex*1 == pageCount ? pageCount : pageIndex*1+1 %>">&raquo;</a></li> 
          </ul>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/user/edit" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">用户编辑</h4>
                    </div>
                    <div class="modal-body">
                      <input type="hidden" id="uid" name="user[id]" value="">
                      <div class="form-group row">
                        <label for="" class="col-md-offset-1 col-md-2">用户名</label>
                        <div class="col-md-6">
                            <input type="text" name="user[name]" class="form-control username">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-md-offset-1 col-md-2">Email</label>
                        <div class="col-md-6">
                            <input type="text" name="user[email]" class="form-control email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-md-offset-1 col-md-2">等级</label>
                        <div class="col-md-6">
                            <input type="text" name="user[role]" class="form-control role">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button data-dismiss="modal" class="btn btn-default" type="reset">取消</button>
                      <button class="btn btn-success" type="submit">提交</button>
                    </div>
                  </form>
                </div>
            </div>
    </div>
    <%- include('../script')%>
    <script src="/js/user.js"></script>
  </body>
</html>
