<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/cityPicker/css/hzw-city-picker.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="edit_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div id="baseInfo" class="panel panel-info">
            <div class="panel-heading">
             <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                账户信息编辑
              </a>
             </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <form method="post" action="/account/save_info" id="accountInfoForm" class="form-horizontal" enctype="multipart/form-data" role="form"> 
                  <div class="form-group">
                    <h3 class="col-md-2 control-label">基本信息编辑</h3>       
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">昵称</label>
                    <div class="col-md-6">
                      <input type="text" id="nickname" class="form-control" name="user[name]" value="<%= user.name %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">QQ</label>
                    <div class="col-md-6">
                      <input type="text" id="qq" class="form-control" name="user[qq]" value="<%if(user && user.qq){%><%= user.qq%><%}%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">性别</label>
                    <div class="col-md-6">
                      <% if(user && user.gender == '0'){ %> 
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="0" checked>男
                      </label>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="1">女
                      </label>
                      <% }else{ %>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="0" >男
                      </label>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="1" checked>女
                      </label>
                      <%}%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">生日</label>
                    <div class="col-md-6">
                      <input type="text" name="user[birthday]" id="birthday" class="form-control laydate-icon" value="<%if(user && user.birthday){%><%=moment(user.birthday).format('YYYY-MM-DD')%><%}%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证号</label>
                    <div class="col-md-6">
                       <input type="text" name="user[idcard]" id="idcard" class="form-control" value="<%if(user && user.idcard){%><%=user.idcard %><%}%>">
                    </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-2 control-label">籍贯</label>
                     <div class="col-md-6">
                      <input type="text" name="user[address]" id="address" class="form-control" value="<%if(user && user.address){%><%= user.address%><%}%>">
                     </div>
                  </div>               
                  <div class="form-group">
                    <label class="col-md-2 control-label">个性签名</label>
                    <div class="col-md-6">
                      <textarea name="user[signature]" class="form-control" rows="5">   <%if(user && user.signature){%><%=user.signature %><%}%>
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <h3 class="col-md-2 control-label m-t">附件上传</h3>
                    <p class="alert text-warning m-t">
                      支持JPG、JPEG、PNG格式且大小不要超过1M！
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">头像上传：</label>
                    <div class="col-md-4">
                      <input type="file" name="avatar" id="avatarFile">
                      <div id="avatarPreview" class="preview-area">
                        <img id="avatarPic" src="<%if(user && user.avatar){%>/upload/avatar/<%= user.avatar %><%}else{%> /img/avatar.gif <%}%>" alt="头像上传" width="150" height="150" title="选择本地图片">
                        <a class="btn btn-link">选择本地图片</a>
                      </div>
                    </div>
                    <label class="col-md-2 control-label">当前头像：</label>
                    <div class="col-md-4">
                      <img src="<%if(user && user.avatar){%>/upload/avatar/<%=user.avatar %><%}else{%>/img/avatar.jpg<%}%>" class="img-rounded" width="150" height="150" alt="当前头像"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证正面：</label>
                    <div class="col-md-4">
                      <input type="file" name="idcard_front" id="idcardFrontFile">
                      <div id="idcardFrontPreview" class="preview-area">
                        <img id="idcardFrontPic" src="<%if(user && user.idcard_front){%>/upload/idcard/<%= user.idcard_front %><%}else{%>/img/idcard_front.png<%}%>" alt="身份证上传" width="245" height="158" class="img-rounded" title="选择本地图片">
                        <a class="btn btn-link">选择本地图片</a>
                      </div>
                    </div>
                    <label class="col-md-2 control-label">示例：</label>
                    <div class="col-md-4">
                      <img src="/img/idcard_front_example.png" width="245" height="158" alt="身份证正面" title="身份证正面">
                      <p class="text-info text-center">证件上文字清晰可识别</p> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证反面：</label>
                    <div class="col-md-4">
                      <input type="file" name="idcard_back" id="idcardBackFile">
                      <div id="idcardBackPreview" class="preview-area">
                        <img id="idcardBackPic" src="<%if(user && user.idcard_back){%>/upload/idcard/<%= user.idcard_back %><%}else{%>/img/idcard_back.png <%}%>" alt="身份证上传" width="245" height="158" class="img-rounded" title="选择本地图片">
                        <a class="btn btn-link">选择本地图片</a>
                      </div>
                    </div>
                    <label class="col-md-2 control-label">示例：</label>
                    <div class="col-md-4">
                      <img src="/img/idcard_back_example.png" width="245" height="158" alt="身份证反面" title="身份证反面"> 
                      <p class="text-info text-center">证件上文字清晰可识别</p>
                    </div>
                  </div>
                  <div class="form-group"> 
                    <button type="submit" id="btnInfoSubmit" class="col-md-offset-5 btn btn-success">保存</button>
                    <a href="javascript:history.go(-1)" class="btn btn-default m-l">返回</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/plugins/laydate/laydate.js"></script>
    <script src="/plugins/cityPicker/js/city-data.js"></script>
    <script src="/plugins/cityPicker/js/hzw-city-picker.min.js"></script>
    <script src="/js/account.js"></script>
    <script>
      //出生日期选择
      laydate({elem: '#birthday', max: laydate.now(-1)});

      //城市选择
      var cityPicker = new HzwCityPicker({
        data: data,
        target: 'address',
        valType: 'k-v',
        hideCityInput: {
            name: 'city',
            id: 'city'
        },
        hideProvinceInput: {
            name: 'province',
            id: 'province'
        },
      });
      cityPicker.init();
    </script>
  </body>
</html>
