<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-center m-b">
                    <img src="<%if(user.avatar){%>/upload/avatar/<%= user.avatar %><%}else{%> /img/avatar.gif <%}%>" class="img-circle" width="200" height="200" title="头像" alt="头像">
                    <p class="m-t"><%= user.name %></p>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item active">
                      <i class="fa fa-user"></i>账户基本信息
                    </li>
                    <li class="list-group-item">
                      <a href="/account/edit_info"><i class="fa fa-edit"></i>编辑账户信息</a>
                    </li>
                    <li class="list-group-item">
                      <label>邮箱:</label>
                      <span><%= user.email %></span>
                    </li>
                    <li class="list-group-item">
                      <label>qq:</label>
                      <span>
                        <% if(user.qq){%><%= user.qq %><% 
                        }else{ %>未设置<%}%>
                      </span>
                    </li>
                    <li class="list-group-item">
                      <label>性别:</label>
                      <span>
                      <% if(user.gender == '0'){ %>男
                      <% }else if(user.gender == '1'){ %>女
                      <% }else{ %> 未知 <%}%>
                      </span>
                    </li>
                    <li class="list-group-item">
                      <label>籍贯:</label>
                      <span>
                        <% if(user.address){ %><%= user.address %>
                        <% }else{ %>未设置<%}%>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="#collapseOne" data-toggle="collapse">
                        个性签名
                      </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <h4><%if(user.signature){%> <%= user.signature %> <%}%></h4>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary account-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse">账户详细信息</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>昵称</dt>
                        <dd><%= user.name%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>邮箱</dt>
                        <dd><%= user.email%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>手机号</dt>
                        <dd><%if(user.mobile){%><%= user.mobile%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>qq</dt>
                        <dd><%if(user.qq){%><%= user.qq%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>性别</dt>
                        <dd>
                        <% if(user.gender == '0'){ %> 男
                        <% }else if(user.gender == '1'){ %> 女
                        <% }else{ %> 未知 <% } %>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>生日</dt>
                        <dd><%if(user.birthday){%><%= moment(user.birthday).format('YYYY-MM-DD')%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>身份证号</dt>
                        <dd><%if(user.idcard){%> <%= user.idcard%> <%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>籍贯</dt>
                        <dd><%if(user.address){%> <%= user.address %> <%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>身份证正面</dt>
                        <dd>
                          <img src="<%if(user.idcard_front){%>/upload/idcard/<%= user.idcard_front %><%}else{%> /img/idcard_front_example.png <%}%>" width="245" height="158" class="img-rounded" title="身份证正面" alt="身份证正面">
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>身份证反面</dt>
                        <dd>
                          <img src="<%if(user.idcard_back){%>/upload/idcard/<%= user.idcard_back %><%}else{%> /img/idcard_back_example.png <%}%>" width="245" height="158" class="img-rounded" title="身份证反面" alt="身份证反面">
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseThree" data-toggle="collapse">消息动态</a>
                  </h3>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <ul class="media-list">
                      <% messages.forEach(function(message){ %>
                      <li class="media">
                        <div class="pull-left">
                          <a href="/" class="media-avatar">
                            <img src="/upload/avatar/<%= message.user.avatar %>" alt="" class=" img-rounded" width="30" height="30">
                            <span><%= message.user.name%></span>
                          </a>
                        </div>
                        <div class="media-body">
                          <p class="pull-left">
                            <%= message.content %>
                          </p>
                          <div class="pull-right relative">
                            <% if(message.user._id == user._id){%>
                            <a href="javascript:;" class="btn btn-link btn-delete" data-id="<%= message._id %>" >&times;</a>
                            <%}%>
                            <span>
                              <%= moment(message.meta.createAt).format('MM-DD HH:mm:ss') %>
                            </span>
                          </div>
                        </div>
                      </li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/message.js"></script>
  </body>
</html>
