<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-center">
                    <img src="<%if(user && user.avatar){%>/upload/<%= user.avatar %><%}else{%> /img/avatar.gif <%}%>" class="img-circle" width="200" height="200" title="头像" alt="头像">
                    <% if(user && user.name){ %> 
                    <p class="m-t"><%= user.name %></p>
                    <% } %>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item active">
                      <i class="fa fa-user"></i>账户基本信息
                    </li>
                    <li class="list-group-item">
                      <a href="/account/edit_info"><i class="fa fa-edit"></i>编辑账户信息</a>
                    </li>
                    <li class="list-group-item">
                      <label>邮箱:</label>
                      <% if(user && user.email){ %> 
                      <span><%= user.email %></span>
                      <% } %>
                    </li>
                    <li class="list-group-item">
                      <label>qq:</label>
                      <% if(user && user.qq){ %> 
                      <span><%= user.qq %></span>
                      <% }else{ %>
                      <span>未设置</span>
                      <% } %>
                    </li>
                    <li class="list-group-item">
                      <label>性别:</label>
                      <% if(user && user.gender == '0'){ %>
                      <span>男</span>
                      <% }else if(user && user.gender == '1'){ %>
                      <span>女</span>
                      <% }else{ %>
                      <span>未知</span>
                      <%}%>
                    </li>
                    <li class="list-group-item">
                      <label>籍贯:</label>
                      <% if(user && user.address){ %> 
                      <span><%= user.address %></span>
                      <% }else{ %>
                      <span>未设置</span>
                      <% } %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <a href="#collapseOne" data-toggle="collapse">
                        个性签名
                      </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <h4><%if(user && user.signature){%> <%= user.signature %> <%}%></h4>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse">账户详细信息</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>昵称</dt>
                        <dd><%if(user && user.name){%><%= user.name%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>邮箱</dt>
                        <dd><%if(user && user.email){%><%= user.email%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>手机号</dt>
                        <dd><%if(user && user.mobile){%><%= user.mobile%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>qq</dt>
                        <dd><%if(user && user.qq){%><%= user.qq%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>性别</dt>
                        <dd>
                        <% if(user && user.gender == '0'){ %> 男
                        <% }else{ %> 女 <% } %>
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>生日</dt>
                        <dd><%if(user && user.birthday){%><%= moment(user.birthday).format('YYYY-MM-DD')%><%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>身份证号</dt>
                        <dd><%if(user && user.idcard){%> <%= user.idcard%> <%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>籍贯</dt>
                        <dd><%if(user && user.address){%> <%= user.address %> <%}%></dd>
                      </dl>
                    </div>
                    <div class="col-md-6">
                      <dl class="dl-horizontal">
                        <dt>证件</dt>
                        <dd>
                          <img src="<%if(user && user.avatar){%>/upload/<%= user.avatar %><%}else{%> /img/profile_avatar.jpg <%}%>" class="img-thumbnail" style="width: 200px; height: 200px" title="头像" alt="头像">
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseThree" data-toggle="collapse">消息动态</a>
                  </h3>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                  <div class="panel-body">
                    消息动态
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
  </body>
</html>
