<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/cityPicker/css/cityLayout.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="account_info_edit">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div id="baseInfo" class="panel panel-primary">
            <div class="panel-heading">
             <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <i class="fa fa-id-card"></i>账户信息编辑
              </a>
              <a href="javascript:history.go(-1)" class="pull-right">返回<i class="fa fa-mail-reply"></i></a>
             </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <form method="post" action="/account/save_info" id="accountForm" class="form-horizontal" enctype="multipart/form-data" role="form"> 
                  <div class="form-group">
                    <h3 class="col-md-2 control-label text-info">基本信息</h3>       
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">姓名</label>
                    <div class="col-md-6">
                      <input type="text" name="user[name]" id="name" class="form-control" value="<%= user.name %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">QQ</label>
                    <div class="col-md-6">
                      <input type="text" id="qq" class="form-control" name="user[qq]" value="<%if(user.qq){%><%= user.qq%><%}%>" placeholder="请输入QQ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">性别</label>
                    <div class="col-md-6">
                      <% if(user.gender == '0'){ %> 
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="0" checked>男
                      </label>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="1">女
                      </label>
                      <% }else{ %>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="0" >男
                      </label>
                      <label class="checkbox-inline">
                        <input type="radio" name="user[gender]" value="1" checked>女
                      </label>
                      <%}%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证号</label>
                    <div class="col-md-6">
                       <input type="text" name="user[idcard]" id="idcard" class="form-control" value="<%if(user.idcard){%><%=user.idcard %><%}%>" placeholder="请输入身份证号">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">生日</label>
                    <div class="col-md-6">
                      <input type="text" name="user[birthday]" id="birthday" class="form-control laydate-icon" value="<%if(user.birthday){%><%=moment(user.birthday).format('YYYY-MM-DD')%><%}%>" placeholder="请选择生日">
                    </div>
                  </div>
                  <div class="form-group">
                     <label class="col-md-2 control-label">籍贯</label>
                     <div class="col-md-6">
                      <input type="text" name="user[address]" id="start1" class="proCityQueryAll proCitySelAll form-control city-icon" placeholder="请选择/输入城市名称" value="<%if(user.address){%><%= user.address%><%}%>">
                     </div>
                  </div>               
                  <div class="form-group">
                    <h3 class="col-md-2 control-label m-t text-info">附件上传</h3>
                    <p class="alert text-warning m-t l-h-2">
                      支持JPG、JPEG、PNG格式且大小不要超过1M！
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">头像上传：</label>
                    <div class="col-md-4">
                      <input type="file" name="avatar" class="file-control">
                      <div class="preview-area clearfix w-170">
                        <img src="/img/upload.png" class="pic-preview" width="150" height="150" alt="选择本地图片" title="选择本地图片">
                        <a href="javascript:;" class="img-remove" title="删除"></a>
                      </div>
                      <div class="alert m-b-0 w-150"></div>
                    </div>
                    <label class="col-md-2 control-label">当前头像：</label>
                    <div class="col-md-4">
                      <img src="<%if(user.avatar){%>/upload/avatar/<%=user.avatar %><%}else{%>/img/avatar.gif<%}%>" class="img-rounded" width="150" height="150" alt="当前头像"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证正面上传：</label>
                    <div class="col-md-4">
                      <input type="file" name="idcard_front" class="file-control">
                      <div class="preview-area clearfix w-265">
                        <img src="/img/upload.png" class="pic-preview" width="245" height="158" class="img-rounded" alt="选择本地图片" title="选择本地图片">
                        <a href="javascript:;" class="img-remove" title="删除"></a>
                      </div>
                      <div class="alert m-b-0 w-245"></div>
                    </div>
                    <%if(user.idcard_front){%>
                    <label class="col-md-2 control-label">当前身份证正面：</label>
                    <div class="col-md-4">
                      <img src="/upload/idcard/<%= user.idcard_front%>" width="245" height="158" class="img-rounded" alt="身份证正面" title="身份证正面">
                    </div>
                    <%}else{%>
                    <label class="col-md-2 control-label">示例：</label>
                    <div class="col-md-4">
                      <img src="/img/idcard_front_example.png" width="245" height="158" class="img-rounded" alt="身份证正面" title="身份证正面">
                      <p class="text-info text-center">证件上文字清晰可识别</p> 
                    </div>
                    <%}%>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">身份证背面上传：</label>
                    <div class="col-md-4">
                      <input type="file" name="idcard_back" class="file-control">
                      <div class="preview-area clearfix w-265">
                        <img src="/img/upload.png" class="pic-preview" width="245" height="158" class="img-rounded" alt="选择本地图片" title="选择本地图片">
                        <a href="javascript:;" class="img-remove" title="删除"></a>
                      </div>
                      <div class="alert m-b-0 w-245"></div>
                    </div>
                    <%if(user.idcard_back){%>
                    <label class="col-md-2 control-label">当前身份证背面：</label>
                    <div class="col-md-4">
                      <img src="/upload/idcard/<%= user.idcard_back%>" width="245" height="158" class="img-rounded" alt="身份证背面" title="身份证背面"> 
                    </div>
                    <%}else{%>
                    <label class="col-md-2 control-label">示例：</label>
                    <div class="col-md-4">
                      <img src="/img/idcard_back_example.png" width="245" height="158" class="img-rounded" alt="身份证背面" title="身份证背面"> 
                      <p class="text-info text-center">证件上文字清晰可识别</p>
                    </div>
                    <%}%>
                  </div>
                  <div class="form-group"> 
                    <button type="submit" id="accountSubmitBtn" class="col-md-offset-5 btn btn-primary">保存</button>
                    <button type="reset" class="btn btn-default m-l">重置</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>      
    <%- include('../script')%>
    <script src="/plugins/laydate/laydate.js"></script>
    <script src="/plugins/cityPicker/js/public.js"></script>
    <script src="/js/account.js"></script>
    <script>
      laydate({elem: '#birthday', max: laydate.now(-1)});
    </script>
  </body>
</html>
