<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <style>
    .container{
      margin: 70px auto;
      padding: 0;
      border: 22px solid #e0e0de;
    }
    .tabTop{
      height: 66px;
      line-height: 66px;
      padding-left: 20px;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #dcdddd;
    }
    .tablist {
      height: 400px;
      background: #f4fafe;
      float: left;
      border: 1px solid #dcdddd;
      border-bottom: 0;
      padding: 0;
      margin: 0;    
    }
    .tablist li {
      position: relative;
      overflow: hidden;
      color: #333;
      font-size: 16px;
      height: 60px;
      padding-left: 20px;
      line-height: 60px;
      text-align: left;
      cursor: pointer;
      background: #f4fafe;
    }
    .tabRight{
      padding: 0;
      margin: 0;    
      background: #fff;
      float: right;
      height: 400px;
    }
    .form-horizontal{
      margin-top: 90px;
      display: none;
    }
    .tablist .cur {
      border-left: 2px solid #27b3e9;
      margin-right: -3px;
      position: relative;
      font-weight: bold;
      color: #27b3e9;
      border-right-color: #fff;
      background: #fff;
      border-bottom: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
      padding-left: 18px;
    }
    .password-main {
      background: #fff;
    } 
    .panel-heading{
      margin-bottom: 50px;
    }
    .panel-default{
      padding-bottom: 50px;
    }
    .page-tip {
      padding-top: 7px;
      display: none;
    }
    .fa-warning {
      color: red;
      margin-right: 5px;
    }
    .paw2{
      width: 186px;
      float: left;
      margin-right: 10px;
    }
    </style>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <ol class="breadcrumb">
              <li><a href="#">账户管理</a></li>
              <li class="active"><%= title%></li>
          </ol>
          <div  class="container row">
            <div class="tabTop">账号设置</div>
              <ul class="tablist col-md-2">
                <li class="cur">账号绑定</li>
                <li>修改手机号码</li>
                <li>修改邮箱</li>
                <li>修改密码</li>
              </ul>
              <div class="tabRight col-md-10">
                <div class="col-md-10 col-md-offset-1">
                  <form class="form-horizontal" id="signupForm" role="form" style="display: block">
                    <div class="form-group">
                      <label for="firstname" class="col-sm-offset-1 col-sm-2 control-label">当前登录账号：</label>
                      <label for="firstname" class="col-sm-3 control-label">123456789@163.com</label>
                    </div>
                     <div class="form-group">
                      <label for="firstname" class="col-sm-offset-1 col-sm-2 control-label">当前手机号码：</label>
                      <label for="firstname" class="col-sm-3 control-label">13766668888</label>
                      <label for="firstname" class="col-sm-3 control-label">已绑定</label>                       
                    </div>
                  </form>
                  <form class="form-horizontal" id="signupForm" role="form">
                    <div class="form-group">
                      <label for="firstname" class="col-sm-offset-1 col-sm-2 control-label">当前手机号码：</label>
                      <label for="firstname" class="col-sm-3 control-label">18330877777</label>
                      <div class="col-sm-3"></div>                          
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="col-sm-offset-1 col-sm-2 control-label">新手机号码：</label>
                      <div class="col-sm-5">
                        <input id="password1" type="password" placeholder="请输入新手机号码：" class="form-control">
                      </div>
                      <div class="col-sm-3 page-tip tip2">
                        <i class="fa fa-warning"></i><span class="">请输入正确的手机号码</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="col-sm-offset-1 col-sm-2 control-label">验证码：</label>
                      <div class="col-sm-5">
                        <input id="password2" placeholder="请输入验证码" type="password" class="form-control paw2">
                        <button type="button" class="btn btn-primary">获取验证码</button>
                      </div>
                      <div class="col-sm-4 page-tip tip3">
                        <i class="fa fa-warning"></i><span class="">验证码不正确</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" id="btnConfirm" class="btn btn-default btn-primary btn-block">保存</button>
                      </div>
                    </div>
                  </form>
                  <form class="form-horizontal" id="signupForm" role="form">
                    <div class="form-group">
                      <label for="firstname" class="col-sm-offset-1 col-sm-2 control-label">当前邮箱：</label>
                      <label for="firstname" class="col-sm-3 control-label">1234567890@163.com</label>
                       <div class="col-sm-3"></div> 
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="col-sm-offset-1 col-sm-2 control-label">新邮箱：</label>
                      <div class="col-sm-5">
                        <input id="password1" type="password" placeholder="请输入新邮箱账号" class="form-control">
                      </div>
                      <div class="col-sm-3 page-tip tip2">
                        <i class="fa fa-warning"></i><span class="">请输入正确的邮箱账号</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" id="btnConfirm" class="btn btn-default btn-primary btn-block">修改邮箱</button>
                      </div>
                    </div>
                  </form>
                  <form class="form-horizontal" id="updatePasswdForm" role="form">
                    <div class="form-group">
                      <label for="firstname" class="col-sm-offset-1 col-sm-2 control-label">旧密码：</label>
                      <div class="col-sm-5">
                        <input id="oldpwd" type="password" class="form-control" placeholder="请输入旧密码">
                      </div>
                      <div class="col-sm-3 page-tip tip1">
                        <i class="fa fa-warning"></i><span class="">请输入旧密码</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="col-sm-offset-1 col-sm-2 control-label">新密码：</label>
                      <div class="col-sm-5">
                        <input id="password1" type="password" placeholder="请输入新密码" class="form-control">
                      </div>
                      <div class="col-sm-3 page-tip tip2">
                        <i class="fa fa-warning"></i><span class="">请输入8-20位的新密码</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastname" class="col-sm-offset-1 col-sm-2 control-label">新密码确认：</label>
                      <div class="col-sm-5">
                        <input id="password2" placeholder="请再次输入新密码" type="password" class="form-control">
                      </div>
                      <div class="col-sm-4 page-tip tip3">
                        <i class="fa fa-warning"></i><span class="">密码输入不一致</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" id="btnConfirm" class="btn btn-default btn-primary btn-block">确认</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
        </div>
        </div>
        <div style="height: 500px"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script>
    var $tab = $('.tablist').children('li'),
        $form = $('.form-horizontal');
    $tab.on('click', function(){
      $(this).addClass("cur").siblings().removeClass("cur");
      $form.eq($(this).index()).show().siblings().hide();
    })
    </script>
  </body>
</html>
