<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="registered_partner">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">未通过审核</h3>
            </div>
            <div class="panel-body text-center">
              <div class="success">
                <h3>抱歉，您的申请未通过审核。</h3>
                <p class="m-t">
                  原因：<%= partner.reject_info%>
                </p>
                <a href="/account/show_registered_partner">返回重新填写</a>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner.js"></script>
  </body>
</html>
