<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="registered_partner">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span>注册我的企业</span>
              <a href="javascript:history.go(-1)" class="pull-right">返回</a>
            </h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-info">
              <i class="fa fa-info-circle"></i>
              <span>提示：请填写企业真实信息， * 表示必填项</span>
              <a class="close" data-dismiss="alert" href="#" aria-hidden="true">
                &times;
              </a>
            </div>
            <form method="post" action="/partner/register" id="registeredForm" class="form-horizontal m-t" role="form" enctype="multipart/form-data"> 
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>企业名称</label>
                <div class="col-md-6">
                  <input type="text" id="partnerName" class="form-control" name="partner[name]" value="" placeholder="请输入企业名称">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>法定代表人</label>
                <div class="col-md-6">
                  <input type="text" id="corporation" class="form-control" name="partner[corporation]" value="" placeholder="请输入企业法定代表人">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>营业执照注册号</label>
                <div class="col-md-6">
                  <input type="text" id="licenseId" class="form-control" name="partner[license_id]" value="" placeholder="请输入营业执照注册号">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>联系人</label>
                <div class="col-md-6">
                  <input type="text" id="contactName" class="form-control" name="partner[contact_name]" value="" placeholder="请输入联系人姓名">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>地址</label>
                <div class="col-md-6">
                  <input type="text" id="address" class="form-control" name="partner[address]" value="" placeholder="请输入企业地址">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>邮编</label>
                <div class="col-md-6">
                  <input type="text" id="postcode" class="form-control" name="partner[post]" value="" placeholder="请输入邮编号">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label">联系电话</label>
                <div class="col-md-6">
                  <input type="text" id="contactTelephone" class="form-control" name="partner[telephone]" value="" placeholder="号码格式：区号-直播号码，例如：010-12345678">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label">联系手机</label>
                <div class="col-md-6">
                  <input type="text" id="contactMobile" class="form-control" name="partner[mobile]" value="" placeholder="请输入手机号码">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label">企业邮箱</label>
                <div class="col-md-6">
                  <input type="text" id="partnerEmail" class="form-control" name="partner[email]" value="" placeholder="请输入企业邮箱">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label">企业简介</label>
                <div class="col-md-6">
                   <textarea id="profile" class="form-control" name="partner[profile]" placeholder="企业简介" rows="5"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>企业LOGO</label>
                <div class="col-md-3">
                 <input type="file" name="logo" id="logoFile" class="file-control">
                 <div class="preview-area">
                  <img src="/img/upload.png" class="img-preview" width="150" height="150" title="企业LOGO" alt="选择本地图片">
                 </div>
                 <div class="alert w-150"></div>
                </div>
                <label class="col-md-1 control-label">示例：</label>
                <div class="col-md-3 p-t-7">
                  <img src="/img/logo.png" width="150" height="150" title="企业LOGO示例" alt="企业LOGO示例">
                </div>
              </div>    
              <div class="form-group row">
                <label class="col-md-3 control-label"><i>*</i>营业执照</label>
                <div class="col-md-9">
                  <input type="file" name="license" id="licenseFile" class="file-control">
                  <div class="preview-area">
                    <img src="/img/upload.png" class="img-preview" width="600" height="350" title="营业执照" alt="选择本地图片">
                  </div>
                  <div class="alert w-600"></div>
                </div>
              </div> 
              <div class="form-group text-center"> 
                <button type="submit" id="btnRegistered" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-default m-l">重置</button>
              </div>
              <div class="form-group text-center">
                <h3 class="text-danger">****临时链接****</h3> 
                <a href="/account/registered_partner_success" class="btn btn-success">提交成功</a>
                <a href="/account/registered_partner_result" class="btn btn-danger m-l">审核不通过</a>
              </div>
            </form>            
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner.js"></script>
  </body>
</html>
