<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="registered_partner">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">
                提交成功
              </h3>
            </div>
            <div class="panel-body text-center">
              <div class="success">
                <h3 class="success-info">企业注册信息提交成功！</h3>
                <p class="m-t">
                  请等待管理员审核... <a href="/">返回账户首页</a>
                </p>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner.js"></script>
  </body>
</html>
