<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../link') %>
</head>
<body>
		<div class="animated fadeInRight">
	    <div class="container reset-password">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2 class="panel-title">找回密码</h2>
          </div>
          <div class="panel-body">
            <h4 class=""><em>2</em>设置密码</h4>
            <form action="/account/reset_password" method="post" id="resetPasswdForm" class="reset-form" role="form">
              <% if(user && user.error){ %>
              <div class="alert alert-danger alert-dismissable"></i><%= user.error %>  <button class="close" data-dismiss="alert">&times;</button></div>
              <% } %>
              <% if(user && user.success){ %>
              <div class="alert alert-success alert-dismissable"><%= user.success %> <a href="/signin">重新登录</a></div>
              <% } %>
              <input type="hidden" name="user[uid]" value="<%if(user){%><%= user._id %><%}%>">
              <div class="form-group">
                <input type="password" name="user[newpasswd]" id="resetPassword" class="form-control" placeholder="设置新密码">
              </div>
              <div class="form-group">
                <input type="password" id="resetPassword2" class="form-control" placeholder="确认密码">
              </div>         
              <div class="form-group">
                <button type="submit" id="btnResetPasswd" class="btn btn-primary btn-block">提交</button>
              </div>
            </form>             
          </div>
        </div>
      </div>  	    
    </div>
  <%- include('../script')%>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/login.js"></script>	
</body>
</html> 
