<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="function_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseOne" data-toggle="collapse">
                      系统功能树
                    </a>
                  </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body min-h-500">
                    <ul id="functionTree" class="ztree" data-id="<%= user.partner._id%>"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse">功能树操作</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body min-h-500">
                    <ul class="tools border-bottom row">
                      <li>
                        <a href="javascript:;" class="btn-refresh">
                          <i class="fa fa-refresh"></i><span>刷新</span>
                        </a> 
                      </li>
                      <li>
                        <a href="#newFunctionModal" class="btn-new" data-toggle="modal">
                          <i class="fa fa-plus-square"></i>
                          <span>新增</span>
                        </a>
                      </li>
                      <li>
                        <a href="#editFunctionModal" class="btn-edit" data-toggle="modal">
                          <i class="fa fa-edit"></i>
                          <span>编辑</span>
                        </a> 
                      </li>
                      <li>
                        <a href="javascript:;" class="btn-remove">
                          <i class="fa fa-remove"></i><span>删除</span>
                        </a> 
                      </li>
                    </ul>
                    <h3 class="page-header m-t">功能点详情</h3>
                    <table id="funcTable" class="table table-hover hidden">
                      <thead>
                        <tr class="">
                          <th>名称</th>
                          <th>URL</th>
                          <th>描述</th>
                          <th>等级</th>
                          <th>序列</th>
                          <th>类别</th>
                          <th>创建时间</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody class="func-detail">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="newFunctionModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 id="newFunctionTitle" class="modal-title">新增功能模块</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">功能名称</label>
                  <div class="col-md-6">
                    <input type="text" id="newFunctionName" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">URL</label>
                  <div class="col-md-6">
                    <input type="text" id="newFunctionRouter" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">等级</label>
                  <div class="col-md-6">
                    <input type="text" id="newFunctionLevel" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">序列</label>
                  <div class="col-md-6">
                    <input type="text" id="newFunctionSeq" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">类别</label>
                  <div class="col-md-6">
                    <select id="newFunctionType" class="form-control">
                      <option value="1">实功能点</option>
                      <option value="0">虚功能点</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">功能描述</label>
                  <div class="col-md-6">
                    <textarea id="newFunctionDesc" class="form-control" rows="2" placeholder="必填"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" id="btnReset" data-dismiss="modal" class="btn btn-default">取消</button>
                <button id="newFunctionBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editFunctionModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">编辑功能模块</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label organize-name">功能名称</label>
                  <div class="col-md-6">
                    <input type="text" id="editFunctionName" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label organize-name">路由地址</label>
                  <div class="col-md-6">
                    <input type="text" id="editFunctionRouter" class="form-control" placeholder="必填">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">功能描述</label>
                  <div class="col-md-6">
                    <textarea id="editFunctionDesc" class="form-control" rows="3" placeholder="必填"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-offset-1 col-md-2 control-label">备注</label>
                  <div class="col-md-6">
                    <textarea id="editFunctionNote" class="form-control" rows="2" placeholder="选填"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="reset">取消</button>
                <button id="editFunctionBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.zTree.all.min.js"></script>
    <script src="/js/function.js"></script>
  </body>
</html>
