<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="function_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseOne" data-toggle="collapse">
                      <i class="fa fa-tree"></i>系统功能树
                    </a>
                  </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body min-h-500">
                    <ul id="functionTree" class="ztree" data-id="<%= user.partner._id%>"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse"><i class="fa fa-wrench"></i>功能树操作</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body min-h-500">
                    <ul class="tools row">
                      <li>
                        <a href="javascript:;" class="btn-refresh">
                          <i class="fa fa-refresh"></i><span>刷新</span>
                        </a> 
                      </li>
                      <li>
                        <a href="#newFuncModal" class="btn-new" data-toggle="modal">
                          <i class="fa fa-plus-square"></i>
                          <span>新增</span>
                        </a>
                      </li>
                      <li>
                        <a href="#editFuncModal" class="btn-edit" data-toggle="modal">
                          <i class="fa fa-edit"></i>
                          <span>编辑</span>
                        </a> 
                      </li>
                      <li>
                        <a href="javascript:;" class="btn-remove">
                          <i class="fa fa-trash"></i><span>删除</span>
                        </a> 
                      </li>
                    </ul>
                    <table id="funcTable" class="table table-bordered m-t-2x">
                      <caption class="caption bg-primary">功能点详情</caption>
                      <thead>
                        <tr>
                          <th class="w-100">名称</th>
                          <th class="w-150">URL</th>
                          <th class="w-150">描述</th>
                          <th>是否菜单项</th>
                          <th>类型</th>
                          <th>状态</th>
                          <th>更新时间</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="newFuncModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 id="newFuncTitle" class="modal-title">新增功能模块</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点名称</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncName" class="form-control" placeholder="功能点名称">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点描述</label>
                  <div class="col-md-6">
                    <textarea id="newFuncDesc" class="form-control" rows="1" placeholder="功能点描述"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点视图</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncView" class="form-control" placeholder="如在菜单功能点则为菜单名">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点页面编码</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncCode" class="form-control" placeholder="功能点页面编码">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点图标</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncIco" class="form-control" placeholder="功能点图标（选填）">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">URL地址</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncUrl" class="form-control" placeholder="URL地址">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">在父节点下的排序</label>
                  <div class="col-md-6">
                    <input type="text" id="newFuncSeq" class="form-control" placeholder="在父节点下的排序">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">是否在菜单中显示</label>
                  <div class="col-md-6">
                     <select id="newFuncLevel" class="form-control">
                      <option value="0">否</option>
                      <option value="1">是</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点类型</label>
                  <div class="col-md-6">
                    <select id="newFuncType" class="form-control">
                      <option value="0">虚功能点</option>
                      <option value="1">实功能点（页面）</option>
                      <option value="2">实功能点（接口）</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点状态</label>
                  <div class="col-md-6">
                    <select id="newFuncStatus" class="form-control">
                      <option value="1">启用</option>
                      <option value="0">禁用</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" id="newFuncResetBtn" data-dismiss="modal" class="btn btn-default">取消</button>
                <button id="newFuncBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editFuncModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">编辑功能模块</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点名称</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncName" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能描述</label>
                  <div class="col-md-6">
                    <textarea id="editFuncDesc" class="form-control" rows="1"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点视图</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncView" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点页面编码</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncCode" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点图标</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncIco" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">URL地址</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncUrl" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">父节点ID</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncParentId" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">在父节点下的排序</label>
                  <div class="col-md-6">
                    <input type="text" id="editFuncSeq" class="form-control" placeholder="在父节点下的排序">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">是否在菜单中显示</label>
                  <div class="col-md-6">
                     <select id="editFuncLevel" class="form-control">
                      <option value="0">否</option>
                      <option value="1">是</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点类型</label>
                  <div class="col-md-6">
                    <select id="editFuncType" class="form-control">
                      <option value="0">虚功能点</option>
                      <option value="1">实功能点（页面）</option>
                      <option value="2">实功能点（接口）</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 control-label">功能点状态</label>
                  <div class="col-md-6">
                    <select id="editFuncStatus" class="form-control">
                      <option value="1">启用</option>
                      <option value="0">禁用</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">取消</button>
                <button id="editFuncBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.ztree.all.min.js"></script>
    <script src="/js/function.js"></script>
  </body>
</html>
