<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="notice_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left p-t-10">公告管理</h3>
              <a href="/system/notice_release" class="btn btn-success pull-right">发布公告</a>
            </div>
            <div class="panel-body min-h-500">
              <table id="noticeDataTable" class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>公告标题</th>
                    <th>发布者</th>
                    <th>修改者</th>
                    <th>发布时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% notices.forEach(function(notice, index){ %>
                  <tr data-id="<%= notice._id%>">
                    <td><%= index+1 %></td>
                    <td><%= notice.title %></td>
                    <td><%= notice.creator.name%></td>
                    <td><%if(notice.updater){%><%= notice.updater.name%><%}else{%>暂无<%}%></td>
                    <td><%= moment(notice.meta.createAt).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td>
                      <a href="/system/notice_detail?id=<%= notice._id%>" class="btn btn-success">查看</a>
                      <a href="/system/notice_edit?id=<%= notice._id%>" class="btn btn-warning">编辑</a>
                      <button class="btn btn-danger btn-remove-notice">删除</button>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/notice.js"></script>
  </body>
</html>
