<!DOCTYPE html>
<html>
  <head>
    <%- include('./link') %>
     <style>
    .panel-body{
      background: #f9f9f9;
    }
    .bind-head{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .bind-head li{
      float: left;
    }
    .bind-head li:first-child em{
      background: #ff7001;
    }
    .bind-head li:first-child p{
      color: #ff7001;
    }
    .bind-head li em{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #bfbfbf;
      color: #fff;
      display: inline-block;
      margin-bottom: 5px;
      line-height: 30px;
      font-size: 16px;
    }
    .bindh-line{
      height: 2px;  
      background: #b9b9b9;
      margin-top: 10px;
    }
    .bind-main{
      background: #fff;
      padding: 20px 0;
    } 
    .bindm-head{
      background: #e5f5ff;
      border: 1px solid #c9d5e2;
      padding: 0 20px;
      height: 36px;
      line-height: 36px;
      margin: 0 30px;
    } 
    .bindm-head p .fa{
      margin-right: 10px;
      font-size: 20px;
      color: #3995d8;
    }
    .form-horizontal{
      margin-top: 50px;
    }
    .card{
      padding: 0;
    }
  </style>
  </head>
  <body>
    <%- include('./aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="modify_password">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">找回密码<a class="pull-right" href="javascript:history.go(-1)">返回</a></h2>
            </div>
            <div class="panel-body">
              <!-- 头部开始-->
              <div class="row">
                <ul class="bind-head col-md-offset-1 col-md-10">
                  <li class="text-center">
                    <em>1</em>
                    <p>输入手机号</p>
                  </li>
                  <li class="bindh-line col-md-4">
                    <span></span>
                  </li>
                  <li class="text-center">
                    <em>2</em>
                    <p>重置密码</p>
                  </li>
                  <li class="bindh-line col-md-4">
                    <span></span>
                  </li>
                  <li class="text-center">
                    <em>3</em>
                    <p>修改成功</p>
                  </li>
                </ul>
              </div>
              <!-- 头部结束-->
              <!-- 主体部分开始 -->
              <div class="bind-main">
                <div class="bindm-head">
                  <p><i class="fa">&#xf06a;</i>通过手机号找回密码</p>
                </div>
                <form action="/payment/reset_password" method="get" id="passwdForm" class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="" class="control-label col-md-offset-2 col-md-2">手机号码</label>
                    <div class="col-md-3">
                      <input type="text" name="" id="mobile" class="form-control" placeholder="请输入手机号码">
                      <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="col-md-3 input-tip alert"></div>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label col-md-offset-2 col-md-2">校验码</label>
                    <div class="col-md-2">
                      <input type="text" name="" id="confirmCard" class="form-control" placeholder="请输入校验码">
                      <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="col-md-1 card">
                      <button type="button" class="btn">获取校验码</button>
                    </div>
                    <div class="col-md-3 input-tip alert"></div>
                  </div>                  
                  <div class="form-group submit">
                    <div class="col-md-offset-4 col-md-1">
                      <button type="submit" id="btnforPasswd" class="btn btn-warning btn-block">确定</button>
                    </div>
                  </div>                    
                </form> 
              </div>
              <!-- 主体部分结束 -->         
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('./script')%>
  </body>
</html>
