<!DOCTYPE html>
<html>
  <head>
    <%- include('./link') %>
     <style>
      .panel-body{
        background: #f9f9f9;
      }
      .login-head{
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .login-head li{
        float: left;
      }
      .login-head li em{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        background: #ff7001;
        display: inline-block;
        margin-bottom: 5px;
        line-height: 30px;
        font-size: 16px;
      }
      .login-head li p{
        color: #f16f20;
      }
      .loginh-line{
        height: 2px;  
        background: #f16f20;
        margin-top: 10px;
      }
      .setting-main{
        background: #fff;
        border: 1px solid #e7e7e7;
        padding: 50px 0 60px;
      } 
      .success{
        text-align: center;
        font-size: 25px;
      }
      .success h3{
        font-size: 30px;
      }
      .m-t span{
        padding: 0 8px;
      }
        </style>
  </head>
  <body>
    <%- include('./aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="modify_password">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
           <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">账号设置<a class="return" href="javascript:history.go(-1)">返回</a></h2>
            </div>
            <div class="panel-body">
              <!-- 头部开始-->
              <div class="row">
                <ul class="login-head col-md-offset-1 col-md-10">
                  <li class="text-center">
                    <em>1</em>
                    <p>验证身份</p>
                  </li>
                  <li class="loginh-line col-md-4">
                    <span></span>
                  </li>
                  <li class="text-center">
                    <em>2</em>
                    <p>重置支付密码</p>
                  </li>
                  <li class="loginh-line col-md-4">
                    <span></span>
                  </li>
                  <li class="text-center">
                    <em>3</em>
                    <p>重置成功</p>
                  </li>
                </ul>
              </div>
              <!-- 头部结束-->
              <!-- 主体部分开始 -->
              <div class="setting-main">
                <div class="success">
                  <h3 class="success-info">重置成功！</h3>
                  <p class="m-t">
                    <span id="count">5</span>秒后自动跳转到
                    <a href="payment_account_info.html">个人信息页面</a>
                  </p>
                </div>
              </div>
              <!-- 主体部分结束 -->         
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
  </body>
</html>
