  <header id="header" class="header">
    <div class="container-fluid">
      <div class="pull-left">
        <a href="javascript:;" id="btnToggle" class="btn-toggle">
          <i class="fa fa-bars"></i>
        </a>
        <div id="noticeWapper" class="navbar-notice clearfix">
            <h4 class="title pull-left m-t"><i class="fa fa-bullhorn"></i></h4>
            <ul id="noticeList" class="notice-list pull-left">
             <% notices.forEach(function(notice){%>
                <li><a href="/system/notice_detail?id=<%= notice._id%>"><%= notice.title%></a><em><%= moment(notice.meta.createAt).format('YYYY-MM-DD') %></em></li>
             <%})%>            
            </ul>
        </div>
      </div>
      <ul class="pull-right"> 
        <li class="dropdown user-center">
            <a href="javascript:;" class="dropdown-toggle" id="userLink" data-toggle="dropdown" title="<%= user.name %>">
              <img src="<%if(user.avatar){%>/upload/avatar/<%=user.avatar%><%}else{%>/img/avatar.gif<%}%>" alt="头像">
              <span class="username"><%=user.name%></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu user-link" role="menu" aria-labelledby="userLink">
                <li class="menu-caret"><i class="fa fa-caret-up fa-2x"></i></li>
                <%if(user && user.role > 20){%>
                <li>
                    <a href="/user/list" role="menuitem" tabindex="-1"><i class="fa fa-user"></i>用户列表</a>
                </li>
                <% } %>
                <!-- <li>
                    <a href="/message" role="menuitem" tabindex="-1">发表留言</a>
                </li> -->
                <li>
                    <a href="/account" role="menuitem" tabindex="-1"><i class="fa fa-user"></i>个人首页</a>
                </li>
                <li>
                    <a href="/transaction/home" role="menuitem" tabindex="-1"><i class="fa fa-money"></i>交易平台</a>
                </li>
                <li>
                    <a href="/admin/merchant_manage" role="menuitem" tabindex="-1">分期贷平台</a>
                </li>
                <li>
                    <a href="/user/installment_manage" role="menuitem" tabindex="-1">分期贷-商家</a>
                </li>
                <li>
                    <a href="/logout" role="menuitem" tabindex="-1">
                      <i class="fa fa-sign-out"></i>退出
                    </a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </header>