  <header id="header" class="header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:;" id="btnToggle" class="btn-toggle">
          <i class="fa fa-bars"></i>
        </a>
        <div id="noticeWapper" class="navbar-notice clearfix">
            <h4 class="title pull-left m-t"><i class="fa fa-bullhorn"></i></h4>
            <ul id="noticeList" class="notice-list pull-left">
             <% notices.forEach(function(notice){%>
                <li><a href="/system/notice_detail?id=<%= notice._id%>"><%= notice.title%></a><em><%= moment(notice.meta.createAt).format('YYYY-MM-DD') %></em></li>
             <%})%>            
            </ul>
        </div>
      </div>
      <ul class="navbar-nav pull-right"> 
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-bell"></i> <span class="label label-warning">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="mailbox.html">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                            <!-- <span class="pull-right text-muted small">4分钟前</span> -->
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="profile.html">
                        <div>
                            <i class="fa fa-qq fa-fw"></i> 3条新回复
                            <!-- <span class="pull-right text-muted small">12分钟钱</span> -->
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a class="J_menuItem" href="notifications.html">
                            <strong>查看所有 </strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown personal-center">
            <a href="javascript:;" class="dropdown-toggle" id="personMenu" data-toggle="dropdown">
              <% if(user && user.avatar){ %> <img src="/upload/avatar/<%= user.avatar %>" alt="头像">
              <% }else{ %> <img src="/img/avatar.gif" alt="头像"> <% } %>
              <span class="username">
                <% if(user){%> <%= user.name %>
                <% }else{ %> 未登录 <% } %>
              </span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="personMenu">
                <% if(user && user.role > 20){ %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/user/list">用户列表</a>
                </li>
                <li role="presentation" class="divider"></li>
                <% } %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/message">发表留言</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/account">个人中心</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/account/edit_info">账号设置</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/account/modify_password">修改密码</a>
                </li> 
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/logout">退出</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </header>