<!DOCTYPE html>
<html>
  <head>
    <%- include('link') %>
  </head>
  <body>
    <%- include('aside') %>
    <%- include('header') %>
    <div id="main" class="main" data-id="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <dl>
                    <dt><img src="/img/profile_avatar.jpg"  class="img-circle"></dt>
                    <dd>悦己视觉</dd>
                    <dd>12345456@163.com</dd>
                  </dl>
                  <ul class="list-group">
                    <li class="list-group-item active">
                      <i class="fa fa-user"></i>账户基本信息
                    </li>
                    <li class="list-group-item">
                      <a href="/account/edit"><i class="fa fa-edit"></i>编辑账户信息</a>
                    </li>
                    <li class="list-group-item">
                      <span>性别:</span>
                      <span>男</span>
                    </li>
                    <li class="list-group-item">
                      <span>年龄:</span>
                      <span>26</span>
                    </li>
                    <li class="list-group-item">
                      <span>学历:</span>
                      <span>本科</span>
                    </li>
                    <li class="list-group-item">
                      <span>籍贯:</span>
                      <span>北京</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        自我介绍
                      </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <h4>
                      “成功者永不放弃，放弃者不会胜利。“我有10年的经验和专业的网页设计，用户界面设计，交互设计方面，视觉设计和原型。我曾与著名的创业公司，包括珠江街道软件。
                    </h4>
                  </div>
                </div>
              </div>
              <div class="panel panel-success">
                <div class="panel-heading">
                  账户详细信息
                </div>
                <div class="panel-body"></div>
              </div>
          </div>
        </div>
        <div style="height: 500px"></div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('footer') %>
    </div>
    <%- include('script')%>
  </body>
</html>
