<!DOCTYPE html>
<html>
  <head>
    <%- include('link') %>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('aside') %>
    <%- include('header') %>
    <div id="main" class="main">
    	<div class="container-fluid">
    		<!-- <h1><%= title %></h1> -->
    		<!-- <p>Welcome to <%= title %></p> -->
    		<h2 class="page-header"><%= title %></h2>
    		<table class="table table-bordered table-hover table-striped">
    			<tr>
                    <th>用户名</th>
    				<th>手机号</th>
                    <th>密码</th>
    				<th>等级</th>
    				<th>注册时间</th>
    				<th>操作</th>
    			</tr>
    			<% users.forEach(function(user){ %>
    				<tr data-id="<%= user._id%>">
                        <td><%= user.name %></td>
	    				<td><%= user.mobile %></td>
                        <td><%= user.password %></td>
	    				<td><%= user.role %></td>
	    				<td><%= moment(user.meta.createAt).format('YYYY-MM-DD HH:mm:ss') %></td>
	    				<td>
	    					<button class="btn btn-warning btn-eidt" data-toggle="modal" href="signin.html#myModal">编辑</button>
	    					<button class="btn btn-danger btn-del">删除</button>
	    				</td>
    				</tr>
    			<% })%>
    		</table>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="/user/edit" method="post" class="form-horizontal">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">用户编辑</h4>
                      </div>
                      <div class="modal-body">
                        <input type="hidden" id="uid" name="user[id]" value="">
                        <div class="form-group row">
                            <label for="" class="col-md-offset-1 col-md-2">用户名</label>
                            <div class="col-md-6">
                                <input type="text" name="user[name]" class="form-control username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-offset-1 col-md-2">等级</label>
                            <div class="col-md-6">
                                <input type="text" name="user[role]" class="form-control role">
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="reset">取消</button>
                          <button class="btn btn-success" type="submit">提交</button>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
            <div class="mask">
                <div class="mask-container">
                    <div class="mask-body">删除成功！</div>
                </div>
            </div>
    	</div>
    	<%- include('footer') %>
    </div>
    <script src="/js/main.js"></script>
	<script src="/js/user.js"></script>
  </body>
</html>
