<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="account_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
         <!--  <ol class="breadcrumb">
              <li><a href="/account">留言板</a></li>
              <li class="active"><%= title%></li>
          </ol> -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">发表留言
                <a href="javascript:history.go(-1)" class="pull-right">返回</a>
              </h3>
            </div>
            <div class="panel-body min-h-500">
              <form method="post" action="/message/save" id="messageSaveForm" class="form-horizontal m-t-40 max-w-600">
                <div class="form-group">
                  <textarea name="message[content]" id="message" cols="5" rows="10" class="form-control" placeholder="发表留言"></textarea>
                </div>
                <div class="form-group m-t text-center">
                  <button type="submit" id="btnMsgSubmit" class="btn btn-primary">提交</button>
                  <button type="reset" class="btn btn-warning m-l">取消</button>
                </div>
              </form>  
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script>
      var messageSaveForm = $('#messageSaveForm'),
          $msgTextarea = $('#message'),
          formGroup = $msgTextarea.parents('.form-group');
      $('#btnMsgSubmit').on('click', function(e){
        e.preventDefault()
        var value = $.trim($msgTextarea.val());
        if(value == ''){
          formGroup.addClass('has-error');
          return false;
        }else {
          formGroup.removeClass('has-error').addClass('has-success');
          messageSaveForm.submit()
        }
      })
    </script>
  </body>
</html>
