<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="company_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="../index.html"><i class="fa fa-home"></i> 首页</a></li>
                  <li>»</li>
                  <li>企业管理</li>
                  <li> »</li>
                  <li class="active">企业信息</li>
               </ul>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="pull-left">企业信息</h4>
              <a href="company_info_edit.html" class="btn btn-edit btn-link pull-right">编辑</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                  <label>联系方式：</label>
                  <span>1391111111</span>
                </li>
                <li class="list-group-item">
                  <label>QQ：</label>
                  <span>1234567890</span>
                </li>
                <li class="list-group-item">
                  <label>公司地址：</label>
                  <span>北京市朝阳区</span>
                </li>
                <li class="list-group-item">
                  <label>营业执照：</label>
                  <span><img src="/img/license.jpg" class="license" /></span>
                </li>
                <li class="list-group-item">
                  <label>经营许可证：</label>
                  <span><img src="/img/license.jpg" class="license" /></span>
                </li>
                <li class="list-group-item">
                  <label>公司简介：</label>
                  <span>国际旅行社有限公司（简称卓翔国旅），是经国家旅游局批准,具有法人资格的国际旅行社，是一家卓有实力的旅游公司。我们一直奉行“一次合作，终身朋友，开心旅游，满意在优途”的服务宗旨，以“创新经营、科学管理、追求卓越”为企业精神，坚持“独特产品、舒心安排、优质服务、微利价格”的工作原则，做游客出行的贴心向导。</span>
                </li>
                <li class="list-group-item">
                  <label>公司荣誉：</label>
                  <span>国际旅行社有限公司（简称卓翔国旅），是经国家旅游局批准,具有法人资格的国际旅行社，是一家卓有实力的旅游公司。我们一直奉行“一次合作，终身朋友，开心旅游，满意在优途”的服务宗旨，以“创新经营、科学管理、追求卓越”为企业精神，坚持“独特产品、舒心安排、优质服务、微利价格”的工作原则，做游客出行的贴心向导。</span>
                </li>
            </ul>
         </div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
  </body>
</html>
