<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <style>
      /*.alert {
        width: 50%;
      }*/
    </style>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="organize_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                账号代注册
                <a href="javascript:history.go(-1)" class="pull-right">返回</a>
              </h3>
            </div> 
            <div class="panel-body">
              <div class="col-md-8 col-md-offset-2 m-t">
                <form action="/partner/agent_register" method="post" id="agentRegForm" class="form-horizontal" role="form">
                  <input type="hidden" name="user[organize]" value="<%if(organize){%><%= organize%><%}%>">
                  <div class="form-group">
                    <label for="userName" class="control-label col-md-3">员工姓名</label>
                    <div class="col-md-6">
                      <input type="text" name="user[name]" id="userName" class="form-control" placeholder="请输入员工姓名" required />
                      <span class="fa fa-check"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="userEmail" class="control-label col-md-3">邮箱号</label>
                    <div class="col-md-6">
                      <input type="text" name="user[email]" id="userEmail" class="form-control" placeholder="请输入真实有效的邮箱号" required />
                      <span class="fa fa-check"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="userPasswd" class="control-label col-md-3 text-center">密码</label>
                    <div class="col-md-6">
                      <input type="password" name="user[password]" id="userPasswd" class="form-control" placeholder="设置密码" maxlength="20" required value=""/>
                      <span class="fa fa-check"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPasswd" class="control-label col-md-3">确认密码</label>
                    <div class="col-md-6">
                      <input type="password" name="user[password2]" id="confirmPasswd" class="form-control" placeholder="确认密码" maxlength="20" required /> 
                      <span class="fa fa-check"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class=" col-md-offset-3 col-md-6 m-t">
                      <button type="submit" id="agentRegBtn" class="btn btn-primary btn-block">立即注册</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner.js"></script>
  </body>
</html>
