<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="organize_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTree" data-toggle="collapse"><i class="fa fa-tree"></i>部门组织结构</a>
                  </h3>
                </div>
                <div id="collapseTree" class="panel-collapse collapse in">
                  <div class="panel-body min-h-450">
                    <ul id="organizeTree" class="ztree" data-partner="<%= user.partner._id%>"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse"><i class="fa fa-cogs"></i>部门管理（<span id="departmentName"><%= user.partner.name%></span>）</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body min-h-450">
                    <ul class="tools border-bottom row">
                      <li class="hidden">
                        <a href="javascript:;" class="btn-refresh" title="刷新">
                          <i class="fa fa-refresh"></i>
                          <span>刷新</span>
                        </a> 
                      </li>
                      <li>
                        <a href="#newOrgModal" class="btn-plus" data-toggle="modal" title="部门新增">
                          <i class="fa fa-plus-square"></i>
                          <span>新增</span>
                        </a>
                      </li>
                      <li>
                        <a href="#editOrgModal" class="btn-edit" data-toggle="modal" title="部门编辑">
                          <i class="fa fa-edit"></i>
                          <span>编辑</span>
                        </a> 
                      </li>
                      <li>
                        <a href="javascript:;" class="btn-remove"  title="部门删除">
                          <i class="fa fa-remove"></i>
                          <span>删除</span>
                        </a> 
                      </li>
                      <li>
                        <a href="#setRoleModal" class="btn-cog" data-toggle="modal" title="权限设置">
                          <i class="fa fa-cog"></i>
                          <span>权限</span>
                        </a> 
                      </li>
                      <li class="hidden">
                        <a href="#showFuncModal" class="btn-func" data-toggle="modal" title=" 查看功能">
                          <i class="fa fa-lock"></i>
                          <span>功能</span>
                        </a> 
                      </li>
                      <li>
                        <a href="javascript:;" class="btn-unlock" title="部门启用">
                          <i class="fa fa-unlock"></i>
                          <span>启用</span>
                        </a> 
                      </li>
                      <li>
                        <a href="javascript:;" class="btn-ban"  title="部门禁用">
                          <i class="fa fa-ban "></i>
                          <span>禁用</span>
                        </a> 
                      </li>
                      <li>
                        <a href="#agentRegModal" class="btn-reg" data-toggle="modal" title="注册员工">
                          <i class="fa fa-user-plus"></i>
                          <span>注册员工</span>
                        </a> 
                      </li>
                    </ul>
                    <h3 class="page-header m-t">部门员工</h3>
                    <table id="staffDataTable" class="table table-hover table-striped table-bordered">
                      <thead>
                        <tr class="">
                          <th>序号</th>
                          <th>姓名</th>
                          <th>性别</th>
                          <th>邮箱</th>
                          <th>部门</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="newOrgModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增部门</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label class="col-md-3 control-label">部门名称</label>
                  <div class="col-md-6">
                    <input type="text" id="newOrgName" class="form-control" placeholder="部门名称">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 control-label">部门简介</label>
                  <div class="col-md-6">
                    <textarea id="newOrgDesc" class="form-control" rows="3" placeholder="部门简介"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default btn-reset" data-dismiss="modal">取消</button>
                <button id="newOrgBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editOrgModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">部门编辑</h4>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label for="organizeName" class="col-md-3 control-label organize-name">部门名称</label>
                  <div class="col-md-6">
                    <input type="text" id="editOrgName" class="form-control">
                  </div>
                </div>
                <div class="form-group row organize-desc">
                  <label for="editOrgDesc" class="col-md-3 control-label">部门简介</label>
                  <div class="col-md-6">
                    <textarea id="editOrgDesc" class="form-control" rows="3" placeholder="部门简介"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="reset">取消</button>
                <button id="editOrgBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setRoleModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="form-horizontal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">权限设置</h4>
            </div>
            <div class="modal-body max-h-400">
              <div class="row">
                <div class="alert alert-info m-l m-r m-b">
                  <i class="fa fa-info-circle"></i>提示：点击权限名称显示对应的功能</div>
                <div class="col-md-6">
                  <ul id="roleList" class="list-group role-list">
                    <li class="list-group-item active">
                    权限列表
                    </li>
                    <% roles.forEach(function(role){%>
                    <li class="list-group-item" data-role="<%= role._id%>">
                      <a href="javascript:;" class="pull-right">
                        <i class="fa fa-square-o fa-lg"></i>
                        <i class="fa fa-check-square fa-lg"></i>
                      </a>
                      <a href="javascript:;" class="role"><%= role.name%></a>
                    </li>
                    <%})%>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul id="roleFunctionTree" class="ztree"></ul>
                </div>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="reset" data-dismiss="modal" class="btn btn-default">取消</button>
              <button id="setRoleBtn" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="agentRegModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">注册员工</h4>
              </div>
              <div class="modal-body">
                  <input type="hidden" id="userOrg" name="user[organize]" value="">
                  <div class="form-group row">
                    <label for="userName" class="control-label col-md-3">员工姓名</label>
                    <div class="col-md-6">
                      <input type="text" name="user[name]" id="userName" class="form-control" placeholder="请输入员工姓名" required />
                    </div>
                    <div class="col-md-3 alert"></div>
                  </div>
                  <div class="form-group row">
                    <label for="userEmail" class="control-label col-md-3">邮箱号</label>
                    <div class="col-md-6">
                      <input type="text" name="user[email]" id="userEmail" class="form-control" placeholder="请输入真实有效的邮箱号" required />
                    </div>
                    <div class="col-md-3 alert"></div>
                  </div>
                  <div class="form-group row">
                    <label for="userPasswd" class="control-label col-md-3 text-center">密码</label>
                    <div class="col-md-6">
                      <input type="password" name="user[password]" id="userPasswd" class="form-control" placeholder="设置密码" maxlength="20" required value=""/>
                    </div>
                    <div class="col-md-3 alert"></div>
                  </div>
                  <div class="form-group row">
                    <label for="confirmPasswd" class="control-label col-md-3">确认密码</label>
                    <div class="col-md-6">
                      <input type="password" name="user[password2]" id="confirmPasswd" class="form-control" placeholder="确认密码" maxlength="20" required /> 
                    </div>
                    <div class="col-md-3 alert"></div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default btn-reset" data-dismiss="modal">取消</button>
                <button id="agentRegBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.ztree.all.min.js"></script>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/organize.js"></script>
  </body>
</html>
