<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="partner_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="row">
             <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-center">
                    <img src="/upload/logo/<%= partner.logo%>" class="" width="200" height="200" title="头像" alt="头像">
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">  
                      <i class="fa fa-user"></i>企业基本信息
                    </li>
                    <li class="list-group-item">
                      <a href=""><i class="fa fa-edit"></i>编辑企业信息</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#collapseTwo" data-toggle="collapse">企业详细信息</a>
                  </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <form method="post" action="" id="" class="form-horizontal" role="form">        
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">企业名称：</label>
                        <div class="col-md-6"><%= partner.name%></div>                        
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">法定代表人：</label>
                        <div class="col-md-6"><%= partner.corporation%></div> 
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">营业执照编号：</label>
                        <div class="col-md-6">1234567890-</div> 
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">企业地址：</label>
                        <div class="col-md-6">北京市朝阳区半截塔56号七棵树创意园A2-1</div> 
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">联系人：</label>
                        <div class="col-md-6">北京市</div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">联系方式：</label>
                        <div class="col-md-6">1234567890</div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">邮箱：</label>
                        <div class="col-md-6">1234567@163.com</div>   
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">邮编：</label>
                        <div class="col-md-6">000000</div>  
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">公司简介：</label>
                        <div class="col-md-6">请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料请按照提示填写本人真实的资料</div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-offset-1 col-md-3 control-label">营业执照：</label>
                        <div class="col-md-6">
                          <img src="" width="300" height="420" class="img-rounded m-l" title="营业执照" alt="营业执照">
                        </div>  
                      </div>             
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/message.js"></script>
  </body>
</html>
