<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="partner_info">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                 <a href="#collapseOne" data-toggle="collapse"><i class="fa fa-home fa-lg"></i>企业信息</a>
                 <a href="/partner/partner_info_edit" class="pull-right"><i class="fa fa-edit"></i>编辑</a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="col-md-offset-1 col-md-10 m-t">
                  <div class="panel panel-border">
                    <div class="panel-heading text-info">
                      <h3 class="panel-title font-22">基本信息</h3>
                    </div>
                    <div class="panel-body ">
                      <div class="col-md-6">
                        <dl class="dl-horizontal">
                          <dt>企业名称：</dt>
                          <dd><%= partner.name%></dd>
                        </dl> 
                        <dl class="dl-horizontal">
                          <dt>企业法人：</dt>
                          <dd><%= partner.corporation%></dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt>企业联系人：</dt>
                          <dd><%= partner.contact_name%></dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt>营业执照号：</dt>
                          <dd><%= partner.license_id%></dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt>企业地址：</dt>
                          <dd><%= partner.address%></dd>
                        </dl>
                      </div>
                      <div class="col-md-6">
                        <dl class="dl-horizontal">
                          <dt class="">企业LOGO：</dt>
                          <dd>
                            <img src="/upload/logo/<%= partner.logo%>" class="img-rounded" width="150" height="150" title="企业LOGO" alt="企业LOGO">
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-border">
                    <div class="panel-heading text-info">
                      <h3 class="panel-title font-22">联系方式</h3>
                    </div>
                    <div class="panel-body">
                      <div class="col-md-6">
                        <dl class="dl-horizontal">
                          <dt>联系手机：</dt>
                          <dd>
                            <%if(partner.mobile){%><%= partner.mobile%>
                            <%}else{%>尚未设置<%}%>
                          </dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt>联系电话：</dt>
                          <dd>
                            <%if(partner.telephone){%><%= partner.telephone%>
                            <%}else{%>尚未设置<%}%>
                          </dd>
                        </dl>
                      </div>
                      <div class="col-md-6">
                        <dl class="dl-horizontal">
                          <dt>企业邮箱：</dt>
                          <dd>
                            <%if(partner.email){%><%= partner.email%>
                            <%}else{%>尚未设置<%}%>
                          </dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt>企业邮编：</dt>
                          <dd><%= partner.post%></dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-border">
                    <div class="panel-heading text-info">
                      <h3 class="panel-title font-22">企业简介</h3>
                    </div>
                    <div class="panel-body">
                      <p class="text-indent font-18">
                        <%if(partner.profile){%><%= partner.profile%>
                        <%}else{%>尚未设置<%}%></p>
                    </div>
                  </div>
                  <div class="panel panel-border">
                    <div class="panel-heading text-info">
                      <h3 class="panel-title font-22">营业执照</h3>
                    </div>
                    <div class="panel-body text-center">
                      <img src="/upload/license/<%= partner.license%>" class="img-responsive" title="营业执照" alt="营业执照">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../footer') %>
    </div>
    <%- include('../script')%>
    <script src="/js/partner.js"></script>
  </body>
</html>
