<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-page="staff_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">员工管理</h3>
            </div>
            <div class="panel-body min-h-500">
              <form action="/partner/staff_search" method="post" id="staffForm" class="form-horizontal m-b hidden" role="form">
                <div class="form-group row">
                  <label class="col-md-2 control-label">部门名称：</label>
                  <div class="col-md-2">
                    <input type="text" name="user[organize]" id="orgName" class="form-control" placeholder="部门名称">
                  </div>
                  <label class="col-md-1 control-label">姓名：</label>
                  <div class="col-md-2">
                    <input type="text" name="user[name]" id="staffName" class="form-control" placeholder="员工姓名">
                  </div>
                  <label class="col-md-1 control-label">性别：</label>
                  <div class="col-md-2">
                    <select name="user[gender]" id="staffGender" class="form-control">
                      <option value="0">不限</option>
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">注册日期：</label>
                  <div class="col-md-2">
                    <input type="text" name="user[startDate]" id="start" class="form-control laydate-icon" placeholder="开始日期">
                  </div>
                  <span class="pull-left p-t-5 light-gray">一</span>
                  <div class="col-md-2"> 
                    <input type="text" name="user[endDate]" id="end" class="form-control laydate-icon" placeholder="结束日期">
                  </div>
                  <label class="col-md-1 control-label">邮箱号：</label>
                  <div class="col-md-2">
                    <input type="text" name="user[email]" id="staffEmail" class="form-control" placeholder="邮箱号">
                  </div>
                  <button type="submit" id="searchSubmit" class="btn btn-warning" style="height: 34px">搜索</button>
                </div>
              </form>
              <table id="staffDataTable" class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>注册日期</th>
                    <th>详细信息</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% staffList.forEach(function(staff, index){ %>
                  <tr data-id="<%= staff._id%>">
                    <td><%= index+1%></td>
                    <td class="name"><%= staff.name%></td>
                    <td><% if(staff.gender == '0') {%> 男 <% }else{%> 女 <%}%></td>
                    <td><%= staff.email%></td>
                    <td><%if(staff.organize && staff.organize.name){%><%= staff.organize.name %><%}else{%>尚未设置<%}%></td>
                    <td><%if(staff.title && staff.title.name){%><%= staff.title.name %><%}else{%>尚未设置<%}%></td>
                    <td><%= moment(staff.meta.createAt).format('YYYY-MM-DD') %></td>
                    <td><a href="/partner/show_staff_info?id=<%=staff._id%>" class="btn btn-link">查看</a></td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">设置
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                              <a href="#setOrganizeModal" class="btn btn-org" data-toggle="modal">部门设置</a>
                            </li>
                            <li>
                              <a href="#setTitleModal" class="btn btn-title" data-toggle="modal">岗位设置</a>
                            </li>
                            <li>
                              <%if(user.status){%>
                              <a href="javascript:;" class="btn btn-status" data-id="<%= user.status%>">禁用</a>
                              <%}else{%>
                              <a href="javascript:;" class="btn btn-status" data-id="<%= user.status%>">启用</a>
                              <%}%>
                            </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <% })%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setOrganizeModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content max-w-400">
            <form action="/partner/set_organize" method="post" id="setOrganizeForm" class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">部门设置</h4>
              </div>
              <div class="modal-body max-h-400">
                <ul id="organizeTree" class="ztree" data-partner="<%=partner_id%>"></ul>
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="setOrgBtn" class="btn btn-success" data-dismiss="modal">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setTitleModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content max-w-400">
          <form class="form-horizontal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">岗位设置</h4>
            </div>
            <div class="modal-body max-h-300">
                <ul id="titleList" class="list-group title-list">
                  <li class="list-group-item active">
                  岗位列表
                  </li>
                  <% titles.forEach(function(title){%>
                  <li class="list-group-item" data-id="<%= title._id%>">
                    <a href="javascript:;" class="check"><i class="fa fa-check pull-right"></i></a>
                    <a href="javascript:;" class="title"><%= title.name%></a>
                  </li>
                  <%})%>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="reset" data-dismiss="modal" class="btn btn-default">取消</button>
              <button id="setTitleBtn" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.zTree.all.min.js"></script>
    <script src="/plugins/laydate/laydate.js"></script>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/staff.js"></script>
  </body>
</html>
