<!DOCTYPE html>
<html>
  <head>
    <%- include('../link') %>
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle.css">
  </head>
  <body>
    <%- include('../aside') %>
    <%- include('../header') %>
    <div id="main" class="main" data-id="staff_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">部门员工</h3>
              <a href="/partner/agent_register" class="pull-right">
              <i class="fa fa-plus-square"></i>添加新员工</a>
            </div>
            <div class="panel-body">
              <div class="tools-bar row">
                <dl class="dl-horizontal col-md-4">
                  <dt>查询条件：</dt>
                  <dd>
                    <form action="" method="get"> 
                      <select name="" id="" class="form-control">
                        <option value="">工号</option>
                        <option value="">姓名</option>
                        <option value="">注册日期</option>
                        <option value="">性别</option>
                      </select>
                    </form>                            
                  </dd>
                </dl>
                <dl class="dl-horizontal col-md-6">
                  <dt>关键字：</dt>
                  <dd>
                    <div class="col-md-8">
                      <input type="text" class="form-control">
                    </div>
                    <button class="btn btn-warning scarch-btn">查询</button>
                  </dd>
                </dl>                      
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>注册日期</th>
                    <th>部门</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(function(user, index){ %>
                  <tr data-id="<%= user._id%>">
                    <td><%= index+1%></td>
                    <td><%= user.name%></td>
                    <td><% if(user.gender == '0') {%> 男 <% }else{%> 女 <%}%></td>
                    <td><%= user.email%></td>
                    <td><%= moment(user.meta.createAt).format('YYYY-MM-DD') %></td>
                    <td><%if(user.organize && user.organize.name){%><%= user.organize.name %><%}%></td>
                    <td style="min-width: 115px">
                      <button class="btn btn-warning btn-set" data-toggle="modal" href="#setOrganizeModal">部门设置</button>
                      <!-- <button class="btn btn-danger btn-sm btn-del">删除</button> -->
                    </td>
                  </tr>
                  <% })%>
                </tbody>
              </table>
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="warp-footer"></div>
      </div>
    	<%- include('../footer') %>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="setOrganizeModal" class="modal fade organize-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            <form action="/partner/set_organize" method="post" id="setOrganizeForm" class="form-horizontal">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">部门设置</h4>
              </div>
              <div class="modal-body">
                <ul id="organizeTree" class="ztree" data-id="<%= user.partner%>"></ul>
                <input type="hidden" id="userId" name="user[id]" value="">
                <input type="hidden" id="organizeId" name="user[organizeId]" value="">
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="reset">取消</button>
                <button type="submit" id="setOrganizeBtn"class="btn btn-success">提交</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <%- include('../script')%>
    <script src="/plugins/zTree/js/jquery.zTree.all.min.js"></script>
    <script src="/js/organize.js"></script>
  </body>
</html>
