<!DOCTYPE html>
<html>
  <head>
    <%- include('../../link') %>
  </head>
  <body>
    <%- include('./aside') %>
    <%- include('../../header') %>
    <div id="main" class="main" data-page="account_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="#collapseTwo" data-toggle="collapse">账户信息</a>
                <a href="javascript:history.go(-1)" class="pull-right">返回</a>
              </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="col-md-offset-3 col-md-6">
                  <div class="text-center m-b">
                    <img src="/img/avatar.gif" class="img-circle" width="200" height="200" title="头像" alt="头像">
                  </div>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>姓名</dt>
                    <dd>韦小宝</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>邮箱</dt>
                    <dd>1234****@qq.com</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>手机号</dt>
                    <dd>132****5678</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>qq</dt>
                    <dd>1234***546</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>性别</dt>
                    <dd>男</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>生日</dt>
                    <dd>1654-12-20</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>身份证号</dt>
                    <dd>1101010******517X</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>籍贯</dt>
                    <dd>北京市东城区</dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>身份证正面</dt>
                    <dd>
                      <img src="/img/idcard_front_example.png" width="245" height="158" class="img-rounded" title="身份证正面" alt="身份证正面">
                    </dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="dl-horizontal">
                    <dt>身份证反面</dt>
                    <dd>
                      <img src="/img/idcard_back_example.png" width="245" height="158" class="img-rounded" title="身份证反面" alt="身份证反面">
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../../footer') %>
    </div>
    <%- include('../../script')%>
  </body>
</html>
