<!DOCTYPE html>
<html>
  <head>
    <%- include('../../link') %>
    <link rel="stylesheet" href="/plugins/dataTables/css/dataTables.bootstrap.css">
  </head>
  <body>
    <%- include('./aside') %>
    <%- include('../../header') %>
    <div id="main" class="main" data-page="merchant_manage">
      <div class="wrapper animated fadeInRight">
        <div class="container-fluid">
          <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title p-t-5">
              <%= title%>
              <a href="/admin/merchant_agent_register" class="pull-right btn-link">商户代注册</a>
            </h3>
          </div>
          <div class="panel-body">
               <table id="merchantDataTable" class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>商家名称</th>
                    <th>注册时间</th>
                    <th>商家信息</th>
                    <th>金服协议</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                  <%partners.forEach(function(partner, index){%>
                  <tr data-id="<%= partner._id%>">
                    <td><%= index+1%></td>
                    <td class="name"><%= partner.name%></td>
                    <td><%= moment(partner.meta.updateAt).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td>
                      <a href="/admin/show_merchant_info" class="btn btn-link">查看</a>
                    </td>
                    <td>
                      <a href="/admin/financial_service" class="btn btn-link">管理</a>
                    </td>
                    <td>
                      <%if(partner.status == 0){%>
                      <a href="javascript:;" class="btn-status" data-status="<%=partner.status%>" title="禁用状态">
                        <i class="fa fa-toggle-off fa-2x"></i>
                      </a>
                      <%}else{%>
                      <a href="javascript:;" class="btn-status on" data-status="<%=partner.status%>" title="启用状态">
                        <i class="fa fa-toggle-on fa-2x"></i>
                      </a>
                      <%}%>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
          </div>
        </div>
          <div class="warp-footer"></div>
        </div>
      </div>
    	<%- include('../../footer') %>
    </div>
    <%- include('../../script')%>
    <script src="/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="/js/installment.js"></script>
  </body>
</html>
